# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    working_directory: ~/ore-protocol
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: bcelebci/ore-protocol:tokenupdate
        environment:
          PIPENV_VENV_IN_PROJECT: true
        

    steps:
      - checkout
      # - restore_cache: # restores saved dependency cache if the Branch key template or requirements.txt files have not changed since the previous run
      #     key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      # - run:
      #     name: install dependencies
      #     command: |
      #       ./expect_script.sh
            # sudo -H python3 -m pip install -e eosfactory/
            # python3 eosfactory/eosfactory/install.py /opt/eos ~/testeos/contracts
      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      # - save_cache: # special step to save dependency cache
      #     key: deps1-{{ .Branch }}-{{ checksum "requirements.txt" }}
      #     paths:
      #       - "venv"
      - run:
          name: run tests
          command: |
            contracts/build.sh
            cd tests/genesis
            ./genesis_start.sh
            cd ../producer1/
            ./genesis_start.sh
            cd ../
            ./1.all_start.sh
            ./setupProduction.sh
            ./updateProduction.sh
            ./runTests.sh

      - store_artifacts:
          path: test-reports
          destination: test-reports